.container {
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: 40% auto;
    background: rgba(190, 212, 186,0.7);
    padding: 20px;
    gap: 40px;
}

.left-container {
    display: grid;
    gap: 10px;
}

.right-container {
     justify-items: center;
}


.custom-image {
    border-radius: 20px 0px 0px 0px;
    width: 100%;
    height: auto;
}


.calendar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.calendar-header-vertical {
    max-height: 300px;
}

.calendar-header-horizontal {
    display: none;
}

.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
     justify-items: center;
}

.category-item {
    align-content: center;
    display: grid;
    background: rgb(255, 225, 58);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 20px;
    max-width: 200px;
    /* min-height: 150px; */
    /* min-width: 200px; */
}

.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.top-header {
    width: 100%;
    border-radius: 20px;
    max-width: auto;
}



@media (max-width: 640px) {
    .container {
        grid-template-columns: 1fr;
    }
    .calendar-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .calendar-header-vertical {
        display: none;
    }
    .calendar-header-horizontal {
        display: flex;
        max-width: 100%;
    }
    .custom-image {
        border-radius: 0px;
        height: auto;
    }
    .top-event {
        border-radius: 20px;
        height: auto;
    }
    .category-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .item:nth-of-type(2){
        grid-row: 2 ;
    }
    .category-item {
        min-height: 100px;
        max-width: 200px;
    }   
}

@media (max-width: 800px) {
    .calendar-header-vertical {
        max-height: 200px;
    }
}

