@import url("https://cdn.syncfusion.com/ej2/material.css");

/* .e-calendar .e-header .e-title, .e-bigger.e-small .e-calendar .e-header .e-title {
    color: black;
    font-size: 20px;
}
.e-calendar{
    width: 10%;
} */